  <div class="header">
    <div class="row">
      <div class="col-lg-6">
        <img src="./assets/Images/logo.png" class="img-thumbnail" alt="Cinque Terre" width="100" height="150">
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-3">
            <div class="underline">code</div>
            <div class="underline">Approved by</div>
          </div>
          <div>
            <div class="">College code here</div>

            <div class="">College approval text here</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="a"></p>
    <div class="col-lg-4">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" routerLink="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#Results">Results</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">College Name here</div>
    
    <div class="col-lg-4">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#Admission Process">Admission Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#Committees">Committees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <p class="blankline"></p>
  </div>

  <div>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" routerLink="facility">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#Faculty">Faculty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#Departments">Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#Event Gallery">Event Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#Councils">Councils</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#T & P Cells">T & P Cells</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="Research & Publications">Research & Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#Mandatory Disclosure">Mandatory Disclosure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#Downloads">Downloads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#SAR/NAAC Report">SAR/NAAC Report</a>
      </li>
    </ul>
  </div>
