
.header{
    margin: 15px 0;
}
.underline {
    border-bottom: 1px solid black;
}
.nav{
    background-color: black;
    
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #fff;
    font-size: 12px;

}
.blankline{
    height: 30px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black; 
    background-color: #dcab1f;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: black;
    background-color: #dcab1f;
}
