<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-8">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a><b>Quick Links</b>
                            <div class="mb-2 underline"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link" href="#">Admission Process
                            <div class="underline2"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link" href="#">Facilities
                            <div class="underline1"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link" href="#">Departments
                            <div class="underline2"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link" href="#">Committees
                            <div class="underline2"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link" href="#">Downloads
                            <div class="underline2"></div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="mb-2 w-5 underline1"><b>Contact Us</b>></div>
        <div class="card rounded-0">
            <div class="row">
                <div class="col-lg-6 ">
                    <b>Address</b>
                    <div class="row">
                        <div class="offset-lg-2"></div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-7">

                                    <div>Address Line 1 Here</div>
                                    <div>Address Line 2 Here</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">District</div>
                                <div class="col-lg-4">State</div>
                                <div class="col-lg-4">Pincode</div>
                            </div>
                            <div class="row">

                                <div class="col-lg-4">Contact</div>
                                <div class="col-lg-4">Landline</div>
                                <div class="col-lg-4">Fax</div>
                            </div>

                            <div class="row">
                                <div class="offset-lg-4 col-lg-4">Mobile No 1 </div>
                                <div class="col-lg-4">Mobile No 2</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <b>Feedback</b>
                    <div class="row">
                        <label class="col-sm-4">Name</label>
                        <div class="col-sm-7">
                            <input id="name" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4">Subject</label>
                        <div class="col-sm-7">
                            <input id="name" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4">Message</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>